#=======================================================================
# 1. MAC ALL SYSTEM FILES
#=======================================================================
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

#=======================================================================
# 2. VS CODE CONFIGURATIONS
#=======================================================================
.vscode/
.history/
*.vsix

#=======================================================================
# 3. IGNORE EVERYTHING EXCEPT C SOURCE CODE
#=======================================================================
# Step A: Ignore all compiled binary output formats
*.o
*.obj
*.out
*.exe
*.dSYM/

# Step B: Ignore ALL files and subfolders in the repository
*

# Step C: Do NOT ignore directories (so Git can search inside them)
!*/

# Step D: Do NOT ignore your actual C code files and the gitignore itself
!.gitignore
!*.c
!*.h
